body{
    background-color: darkcyan;
    padding: 3%;
}
.red{
    
    background-color:#a2eacb;

}
.blue{
      background-color:  #4955fd;
}

#percent{
    padding-top: 10%;

}
#percentmark{
    padding-top: 10%;

}

#grade{
    padding-top: 10%;
}
#grademark{
    padding-top: 10%;
}

#mark{
    padding-bottom: 6%;
    padding-top: 6%;
}
#footer{
    background-color: #00abbc;
    width: 100%;
    text-align: center;
    font-size: 5px;
    text-shadow: 2px 5px  yellowgreen;
    
}

.pad{
    padding-bottom: 1%;
}

.whit{
    background-color: whitesmoke;
    
}

.error{
    color: white;
}
.errorNum{
   color: white;
}
.errorMax{
    color: white;
}





/* https://github.com/Dr-Ace2/grade-calculator */